/*Elementos compartilhados entre as telas*/
body{
  background-color: #ffffff;
  overflow-x: hidden;
  overflow-x: hidden;
  overflow-y: scroll;
  margin: 0 0;
  padding: 0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

header{
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  background: linear-gradient(81deg, rgba(18,202,212,1) 0%, rgba(134,230,48,0.9735352759267769) 67%);
  padding: 10px;
}

a{
  text-decoration: none;
}

header p{
  margin-left: 25px;
  font-size: 16px;
}

section{
  margin-top: 25px;
  display: flex;  
  justify-content: center;
  align-items: center;
}

section a {
  margin-left: 20px;
}

footer{
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
width: 100%;
background: linear-gradient(81deg, rgba(18,202,212,1) 0%, rgba(134,230,48,0.9735352759267769) 67%);
padding: 10px;
}

footer p{
margin-left: 25px;
font-size: 15px;
}

/*Elementos do sobre*/
#sobre{
  margin-top: 110px;
  margin-left: 32px;
  margin-right: 32px;
  display: flex;
  color: #000000;
}

#sobre div{
  margin: 32px;
}

#sobre div p{
  font-size: 25px;
  line-height: 25px;
  margin-bottom: 100px;
  text-indent: 4rem;
}

#sobre img{
  margin: 5px;
  margin-top: 5x;
  border-radius: 8px;
}

/*Fotos da equipe*/
  #desenvolvedores{
    margin-top: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

  }

  #desenvolvedores ul{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border-radius: 8px;
    margin: 32px;
    margin-left: 24px;
    margin-right: 24px;
    justify-content: flex-end;
    color: rgb(0, 0, 0);
    padding: 16px;
    background: linear-gradient(to bottom, rgba(134,230,48,0.9735352759267769) 0%,  white 67%);
    box-shadow: 4px 4px 10px rgba(47, 47, 47, 0.25);
  }


  #desenvolvedores ul:hover{
    box-shadow: 8px 8px 20px rgba(47, 47, 47, 0.25);

  }

  #desenvolvedores ul p{
    margin: 10px;
    margin-bottom: 16px;
    font-size: 20px;
    display: center;
    justify-content: center;
  }

  div > img{
    border-radius: 50%;
    margin: 16px;
    display: flex;
    align-self: center;
  }

  .profile{
    border-radius: 100%;
  }



  
  
