body{
  margin: 0 0;
  padding: 0;
}

  header{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    background: linear-gradient(81deg, rgba(18,202,212,1) 0%, rgba(134,230,48,0.9735352759267769) 67%);
    padding: 10px;
}

a{
  text-decoration: none;
}

header p{
    margin-left: 25px;
    font-size: 18px;
}
  h1{
    color: #e86252;
  }
    
 #sobre{
    margin-top: 80px;
    margin-left: 32px;
    margin-right: 32px;
    display: flex;
    color: #000;
 }

 #sobre div{
    margin: 32px;
 }

 #sobre div p{
    font-size: 16px;
    line-height: 32px;
    margin-bottom: 16px;
    text-indent: 4rem;
 }

 #sobre img{
    margin: 32px;
    margin-top: 64px;
    border-radius: 8px;
 }



  
  