body{
    overflow-x: hidden;
    overflow-y: scroll;
    margin: 0 0;
    padding: 0;
}

header{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    background: linear-gradient(81deg, rgba(18,202,212,1) 0%, rgba(134,230,48,0.9735352759267769) 67%);
    padding: 10px;
}

header p{
    margin-left: 25px;
    font-size: 18px;
}

section{
    margin-top: 25px;
    display: flex;  
    justify-content: center;
    align-items: center;
}

section a {
    margin-left: 20px;
}

main{
    margin-top: 25px;
    display: flex;  
    justify-content: center;
    align-items: center;  
    height: auto;
}

main a {
    margin-left: 20px;
}

footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%; 
    position: fixed;
    bottom: 0;
    background: linear-gradient(81deg, rgba(18,202,212,1) 0%, rgba(134,230,48,0.9735352759267769) 67%);
}

a{
    text-decoration: none;
  }

  section > a {
    color: #f38f02;
  }


footer p {    
    margin: 0 0 5px 0;
    font-size: 18px;

}

.card-principal{
    margin-top: 10px;
    display: flex;
    width: 80%;
    align-items: center;
    justify-content: center;
}

.card-secundario{
    width: 40%;
    margin-right: 10px;
}

.card-geral{
    display: flex;
    flex-direction: column;
    width: 80%;
    align-items: center;
    justify-content: center;
}

.carousel-container {
    position: relative;
    overflow: hidden;
  }
  
  .carousel {
    display: flex;
    transition: transform 0.3s ease-in-out;
  }
  
  .carousel-item {
    flex: 0 0 100%;
  }
  
  .prev-button,
  .next-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
  
  .prev-button {
    left: 10px;
  }
  
  .next-button {
    right: 10px;
  }
  