body{
  overflow-x: hidden;
  margin: 0 0;
  padding: 0;
}

header{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    background: linear-gradient(81deg, rgba(18,202,212,1) 0%, rgba(134,230,48,0.9735352759267769) 67%);
    padding: 10px;
}

header p{
    margin-left: 25px;
    font-size: 18px;
}

a{
  text-decoration: none;
}


  
  #desenvolvedores{
    margin-top: 60px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

  }

  #desenvolvedores ul{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border-radius: 8px;
    margin: 32px;
    margin-left: 24px;
    margin-right: 24px;
    justify-content: flex-end;
    color: rgb(85, 26, 139);
    padding: 16px;
    background: linear-gradient(to bottom, rgba(134,230,48,0.9735352759267769) 0%,  white 67%);
    box-shadow: 4px 4px 10px rgba(47, 47, 47, 0.25);
  }


  #desenvolvedores ul:hover{
    box-shadow: 8px 8px 20px rgba(47, 47, 47, 0.25);

  }

  #desenvolvedores ul p{
    margin: 4px;
    margin-bottom: 16px;
    font-size: 20px;
    display: center;
    justify-content: center;
  }

  div > img{
    border-radius: 50%;
    margin: 16px;
    display: flex;
    align-self: center;
  }

  .profile{
    border-radius: 100%;
  }



  
  